<div>
    <div fxLayout="row" fxFlex>
        <div fxFlex>
            <div fxLayout="column" style="padding:15px;">
                <h1>Standard AtomicArray</h1>
                <ul>
                    <li *ngFor="let item of cards">

                        <md-card>
                            <div>
                                <div fxLayout="row" fxFlex fxLayoutAlign="center center">
                                    <div fxFlex>
                                        <md-card-title>{{ item.title }}</md-card-title>
                                        <md-card-subtitle>{{ item.$priority }}</md-card-subtitle>
                                    </div>
                                    <button md-button (click)="card.remove(item)">Remove</button>
                                </div>
                            </div>
                        </md-card>
                    </li>
                </ul>
                <div style="padding:10px;">
                    <div fxLayout="row" fxFlex fxLayoutAlign="center center">
                        <button md-button (click)="atomicArray.loadNext()"
                                *ngIf="!atomicArray.fetching">
                            Load More
                        </button>
                        <md-spinner *ngIf="atomicArray.fetching"
                                    strokeWidth="10"
                                    style="max-width: 60px;"></md-spinner>
                    </div>
                </div>
            </div>
        </div>
        <div fxFlex>
            <div fxLayout="column" style="padding:15px;">
                <h1>AtomicArray with Querybase</h1>
                <ul>
                    <li *ngFor="let item of articles">

                        <md-card>
                            <div>
                                <div fxLayout="row" fxFlex fxLayoutAlign="center center">
                                    <div fxFlex>
                                        <md-card-title>{{ item.title }}</md-card-title>
                                        <md-card-subtitle>{{ item.description }}</md-card-subtitle>
                                        <md-card-subtitle>{{ item.$priority }}</md-card-subtitle>
                                    </div>
                                    <button md-button (click)="article.remove(item)">Remove</button>
                                </div>
                            </div>
                        </md-card>
                    </li>
                </ul>
                <div style="padding:10px;">
                    <div fxLayout="row" fxFlex fxLayoutAlign="center center">
                        <button md-button (click)="articlesArray.loadNext()"
                                *ngIf="!articlesArray.fetching && articlesArray.length > 0">
                            Load More
                        </button>
                        <md-spinner *ngIf="articlesArray.fetching"
                                    strokeWidth="10"
                                    style="max-width: 60px;"></md-spinner>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
